header,
.page_top_wrap,
footer,
a.scroll_to_top,
.woocommerce-thankyou-order-received,
ul.woocommerce-thankyou-order-details,
section.woocommerce-bacs-bank-details,
#uq-print {
    display: none !important;
}

body.woocommerce-order-received.body_filled.article_style_boxed .page_wrap {
    background-color: #fff;
}

.content_wrap {
    width: 100% !important;
}

section.woocommerce-order-details th {
    text-align: left;
}
